<section class="page__section contacts">
	<div class="container">
		<h3 class="title">Контакты</h3>
		<div class="contacts__inner">
			<div class="contacts__info">
				<div class="contacts__info-box">
					<p class="contacts__info-title">Москва</p>
					<a class="contacts__info-phone" href="tel:74995676767"
						>+7 (499) 567– 67 – 67</a
					>
					<a
						class="contacts__info-email"
						href="mailto:dgi.mavic2pro.moscow@mail.ru"
						>dgi.mavic2pro.moscow@mail.ru</a
					>
				</div>
				<div class="contacts__info-box">
					<p class="contacts__info-title">Санкт-Питербург</p>
					<a class="contacts__info-phone" href="tel:74995676767"
						>+7 (499) 856– 23 – 23</a
					>
					<a
						class="contacts__info-email"
						href="mailto:dgi.mavic2pro.spb@mail.ru"
						>dgi.mavic2pro.spb@mail.ru</a
					>
				</div>
				<div class="contacts__info-box">
					<p class="contacts__info-title">Калининград</p>
					<a class="contacts__info-phone" href="tel:74995676767"
						>+7 (499) 235- 45 – 45</a
					>
					<a
						class="contacts__info-email"
						href="mailto:dgi.mavic2pro.klg@mail.ru"
						>dgi.mavic2pro.klg@mail.ru</a
					>
				</div>
			</div>
			<div class="contacts__form">
				<form action="#">
					<h4 class="contacts__form-title">Остались вопросы?</h4>
					<p class="contacts__form-text">
						Мы обязательно свяжемся с вами в течение двух рабочих дней
					</p>
					<div class="contacts__form-data">
						<input
							class="contacts__form-input"
							type="text"
							placeholder="Ваше имя"
						/>
						<input
							class="contacts__form-input"
							type="text"
							placeholder="Ваш e-mail"
						/>
					</div>
					<textarea
						class="contacts__form-textarea"
						placeholder="Что вас интересует?"
					></textarea>
					<button class="contacts__form-btn" type="submit">ОТПРАВИТЬ</button>
				</form>
			</div>
			<ul class="contacts__social-list">
				<li class="contacts__social-item">
					<a class="contacts__social-link" href="#">
						<img src="images/facebook.svg" alt="facebook" />
					</a>
				</li>
				<li class="contacts__social-item">
					<a class="contacts__social-link" href="#">
						<img src="images/youtube.svg" alt="youtube" />
					</a>
				</li>
				<li class="contacts__social-item">
					<a class="contacts__social-link" href="#">
						<img src="images/instagram.svg" alt="instagram" />
					</a>
				</li>
			</ul>
		</div>
	</div>
</section>
