<section class="page__section questions">
	<div class="container">
		<h3 class="title">Остались вопросы?</h3>
		<div class="questions__items">
			<div class="questions__item">
				<h4 class="questions__item-title">Чем Mavic 2 лучше Mavic Pro?</h4>
				<p class="questions__item-text">
					В Mavic 2 улучшены практически все аспекты: камера, передача
					видеосигнала, полётное время, скорость, уровень шума, обнаружение
					препятствий в нескольких направлениях, интеллектуальные функции и
					уникальная функция Hyperlapse (гиперлапс).
				</p>
			</div>
			<div class="questions__item">
				<h4 class="questions__item-title">Чем Mavic 2 лучше Mavic Pro?</h4>
				<p class="questions__item-text">
					В Mavic 2 улучшены практически все аспекты: камера, передача
					видеосигнала, полётное время, скорость, уровень шума, обнаружение
					препятствий в нескольких направлениях, интеллектуальные функции и
					уникальная функция Hyperlapse (гиперлапс).
				</p>
			</div>
			<div class="questions__item">
				<h4 class="questions__item-title">
					Можно ли подключить Mavic 2 к очкам DJI Goggles?
				</h4>
				<p class="questions__item-text">
					В Mavic 2 улучшены практически все аспекты: камера, передача
					видеосигнала, полётное время, скорость, уровень шума, обнаружение
					препятствий в нескольких направлениях, интеллектуальные функции и
					уникальная функция Hyperlapse (гиперлапс).
				</p>
			</div>
			<div class="questions__item">
				<h4 class="questions__item-title">
					Является ли Mavic 2 водонепроницаемым
				</h4>
				<p class="questions__item-text">
					В Mavic 2 улучшены практически все аспекты: камера, передача
					видеосигнала, полётное время, скорость, уровень шума, обнаружение
					препятствий в нескольких направлениях, интеллектуальные функции и
					уникальная функция Hyperlapse (гиперлапс).
				</p>
			</div>
		</div>
	</div>
	<div class="scroll__btn">
		<a href="#">
			<img src="images/arrow-down.svg" alt="down" />
		</a>
	</div>
</section>
